<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wl.llshop.dao.TbItemCustomMapper" >
    
    <sql id="Base_Column_List" >
        i.id, i.title, i.sell_point as sellPoint, i.price, i.num, i.barcode, i.image, i.cid, i.status, i.created, i.updated,
        c.name as catName
    </sql>
    <select id="countItems" resultType="int">
       select count(1)
    from tb_item
    </select>

    <select id="listItemByPage" parameterType="com.wl.llshop.common.dto.Page" resultType="com.wl.llshop.pojo.vo.TbItemCustum">
    select 
    <include refid="Base_Column_List"/>
        from tb_item i
        LEFT JOIN tb_item_cat c ON
        i.cid=c.id
        limit #{offset},#{rows}
    </select>

</mapper>